@font-face {
    font-family: 'Cambria';
    src: url('/assets/fonts/cambria.ttf');
}

@font-face {
    font-family: 'Candara';
    src: url('/assets/fonts/candara.ttf');
}

@font-face {
    font-family: 'Consola';
    src: url('/assets/fonts/consola.ttf');
}

@font-face {
    font-family: 'Corbel';
    src: url('/assets/fonts/corbel.ttf');
}

.v-application  {
    /* background: url(/assets/images/pastel-pink-bokeh-lights.jpg) !important; */
    background: url(/assets/images/24052.jpg) !important;
    /* background: url(/assets/images/24049.jpg) !important; */

    background-size: cover !important;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .print-page-top-spacer {
        display: none;
    }

    .v-toolbar {
        display: none;
    }

    .print-preview-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .v-main {
        margin: 0 !important;
        padding: 0 !important;
    }

    .print-canvas {
        box-shadow: none !important;
    }

    @page {
        margin: 0.01in !important;
        size: portrait;
    }
}