@font-face {
    font-family: 'Calibri';
    src: url('/assets/fonts/calibri.ttf');
}

@font-face {
    font-family: 'Cambria';
    src: url('/assets/fonts/cambria.ttf');
}

@font-face {
    font-family: 'Candara';
    src: url('/assets/fonts/candara.ttf');
}

@font-face {
    font-family: 'Consola';
    src: url('/assets/fonts/consola.ttf');
}

@font-face {
    font-family: 'Corbel';
    src: url('/assets/fonts/corbel.ttf');
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .v-toolbar {
        display: none;
    }

    .v-main {
        margin: 0 !important;
        padding: 0 !important;
    }

    @page {
        margin: 0.1in !important;
        size: portrait;
    }
}